#imga{

font-family:calibri;
margin-left:400px;
}


#descri{
background:#81b900;
width:1354px;
margin-left:-75px;
font-family:calibri;
font-size:16px;
font-weight:bold;
}


#anu{
margin-top:200px;
margin-left:700px;
}

#dados{

font-family:calibri;
font-size:16px;
}

#rodape{
background:#343434;
height:90px;
width:1354px;
margin-top:25px;
margin-left:-80px;
}

#rodape img{
margin-top:-30px;



}